doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    style
      td { vertical-align: middle !important; }
      tr > th:nth-child(3),
      tr > td:nth-child(3) { text-align: center; }
  body.container
    block content
    block scripts
